body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #050134;
  background-Size: 'cover';
  justify-content: center;
  align-items: center;
 
}
.header-text {
  font-size: 50px;
  color: #050134;
  font-weight: bold;
  margin: 10px;
}
.header-text{
    display: flex;
    text-shadow: 0px 0px 12px rgb(24, 207, 204);
}
.scoreboard {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
  }
.score-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .score-text {
    font-size: 15px;
    font-weight: inherit;
    color: white; /* Adjust the color as needed */
    margin: 4px;
  }
  .score-value {
    font-size: 15px;
    font-weight: bold;
    color: white;   
  }
.row {
  display: flex;
}
.fc-red {
  color: #e8cb09;
}
.fc-yellow {
  color: aqua;
}
.square {
  min-width: 90px;
  min-height: 90px;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 2px;
}
.box-center {
  justify-content: center;
}
.border-top-down {
  border: 12px solid  blue;
  border-radius: none;
}
.border-mid {
  border-left: 12px solid  blue;
  border-radius: none;
  border-right: 12px solid  blue;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
}
.clear-btn {
  width: max-content;
  margin: 40px auto 10px auto;
  width: 300px;
  font-size: 22px;
  height: 40px;
  font-weight: bold;
  color: #ffff;
  background-image: linear-gradient(330deg, #31ff42, green);
  border: none;
  border-radius: 1rem;
}
.clear-btn:hover{
    box-shadow: 0px 0px 12px greenyellow;
}
.inner-square {
  border-left: 12px solid blue;
  border-right: 12px solid blue;
  padding: 0;
}

@media (max-width: 768px) {
    .header-text {
      font-size: 36px;
    }
  
    .square {
      min-width: 60px;
      min-height: 60px;
      font-size: 40px;
    }
  
    .clear-btn {
      width: 200px;
      font-size: 18px;
      height: 30px;
    }
  }
